*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100;
    display: flex;
    justify-content: center;
    background: black
    font-family: sans-serif;
    color: black;
}